/**----- Global settings -------*/

:root {
    --primary: salmon;
    --secondary: white;
}

body {
    background-image: url("../resources/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    color: black
}

button {
    background-color: var(--primary);
    border-radius: 60px;
}

#btn {
    background-color: var(--secondary);
}

.jumbotron {
    height: auto;
    border: 1px solid black;
}

#navbar {
    background-color: var(--primary);
}

.navbar {
    padding: 0 0 0 0;
    border: 1px;
    border-radius: 30px;
}

.navbar .navbar-toggler-icon {
    color: black;
}

.navbar .nav-link {
    color: black;
}

#buttons-view {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 43%;
}

.date-span {
    box-shadow: 2px 2px 4px #000000;
}


/**----- Card -------*/

.card {
    border-radius: 30px;
    border: 0;
}

#page-content {
    background-color: transparent;
}

.show-more {
    color: var(--primary);
}

#cart-card {
    border-radius: 30px;
    margin: auto;
}

#article-card {
    border-radius: 30px;
    width: 70%;
    height: 25%;
}

#product-card {
    height: 90%;
}

#single-product {
    background-color: var(--primary);
}

.catalog-card {
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    min-width: 70%;
    height: 300px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.inner-card {
    border-radius: 30px;
}

.card-img-top {
    width: 90%;
    margin: 0 auto;
}

.card-footer {
    background-color: transparent;
}

#my-products {
    background-color: var(--primary);
}

.card .card-body {
    border: 0;
}

.card-subtitle {
    color: black;
}

.btn-group {
    background-color: var(--primary);
}


/**-------Table------*/

table {
    border-spacing: 0;
    border: 0;
}

thead {
    background-color: var(--primary);
}


/**-----Login & Registrazione------*/

#login .container #login-row {
    margin-top: 30px;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    height: 320px;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
    border-radius: 5%;
    border: 1px solid black;
    margin-top: -85px;
}

#registration-row #campo-registrazione,
#submit-registrazione {
    margin-top: 10px;
}

#insert-row #input-insert,
#submit-insert {
    margin-top: 10px;
}

#submit {
    background-color: var(--primary);
}

#register a {
    color: var(--primary);
}

#error-span {
    background-color: var(--primary);
}

.form-control {
    background-color: var(--secondary);
}


/**----- Carrello -------*/

.carrello {
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrello table {
    width: 80%;
    border: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

#tabella-prodotti th {
    text-align: left;
    padding: 5px;
    background-color: var(--primary);
    border: 1px solid black;
    font-weight: normal;
}

#tabella-prodotti td {
    padding: 10px 5px;
}

#tabella-prodotti input {
    width: 40px;
}

#tabella-prodotti a {
    color: var(--primary);
    font-weight: bold;
    font-size: 15px;
}

#tabella-prodotti img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

.prezzo-totale {
    width: 80%;
}


/* ---Footer---- */

#footer-row {
    position: relative;
    top: 10%;
    margin: 0 auto;
}

#footer {
    background-color: white;
    border-radius: 30px;
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0;
    left: 0;
}

ul {
    list-style-type: none;
}

ul li {
    margin: auto;
}